<html>
{% load static from staticfiles %}
<head>
<meta http-equiv="Content-Type" content="text/html"; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css" media="all" />

{% block title %}
<title>Base page</title>
{% endblock %}
</head>

<body>
<div class = "bigcontainer">
   <div class = "container">
      <div class = "header">
	 <div class = "headerblock">
	    <img src="{% static "img/surekhacook" %}" />
	    
	    <div class="search_bar" style="float:right;">
	       <input type="text" id="searchbar_top_page" name="searchbar" size="20" placeholder="Search" style="font-size: 15px;" />
	    </div> <!--search_bar   div(end) -->
   	    <p> Surekha's Cookhouse </p>
	    <h2>The House of flavors, tastes, recipes and healthy tips.</h2>    

	 </div>    <!--header_block div(end) -->
      </div>       <!--header       div(end) -->
      <div class = "navmenu_block">
      <span class = "navmenu_button">
	 <div class = "navmenu">
	    <ul>
	       <li><a href="/">Home </a>
	       <li><a href="/recipes/all">Recipes</a>
	       <li><a href="#">Cooking Skills </a>
	       <li><a href="#">Health Benefits </a>
	       <li><a href="#">Glossary </a>
	       <li><a href="/contact/">Contact Us</a>
	    <ul>		
	 </div>   <!--navmenu div(end) -->
      </span>
      </div>      <!--navmenu_block div(end) -->
   </div>

   <div class = "maincontainer">
   {% block content %}

   {% endblock %}
   </div> <!--maincontainer div(end) -->
	
   <div class= "footer">
      <img src="{% static "img/surekhacook" %}"/>
      <p> © 2014 Surekha's cookhouse. All rights reserved</p><br>
      <script type="text/javascript" src="{% static "js/jquery-1.11.1.min.js" %}"> </script>
      <!-- Downloaded the compressed jquery library-->
      <script type="text/javascript" src="{% static "js/first.js" %}"></script>

   </div> <!--footer div(end) -->
</div>	
</body>
</html>
