{% extends "base.html" %}

{% block title %}
<title>Home page</title>
{% endblock %}

{% load static from staticfiles %}
{% block content %}
<div class = "maincontainer">
	<div class= "bigimage">
		<img src="{% static "img/Home_big_image.jpg" %}"/>
	</div>

  <div class ="navblock">
	
	<div class = "radial_gradient" style="margin-top:10px;">
		<a style="text-align:center; color: #FE2E9A;font-size: 1em;text-decoration:none;" href="/latest_recipes/">
		Latest recipes
		</a>
	</div>   

	{% for recipe in latest_recipes_one %}
	<a style="color:#FE2E9A;" href="/recipes/{{ recipe.recipe_type }}/{{ recipe.title.split|join:"-" }}/"> 
		{{recipe.title}} 
		<img src="/static/{{recipe.photo}}" alt="{{recipe.title}}"</img>
	</a>
	<br><br>
	{% endfor %}
   
	<div class = "radial_gradient">
		<a style="text-align:center; color: #FE2E9A;font-size: 1em;text-decoration:none;" href="/popular_recipes/">
			Popular recipes
		</a>
	</div>

	{% for recipe in popular_recipes_one %}
	<a style="color:#FE2E9A;" href="/recipes/{{ recipe.recipe_type }}/{{ recipe.title.split|join:"-" }}/"> 
		{{recipe.title}} 
		<img src="/static/{{recipe.photo}}" alt="{{recipe.title}}" </img>
	</a>
	<br><br>
	{% endfor %}
  </div>
	
	<div class = "content">
	    <div class="content_picture">
		<img src="{% static "img/watermelon-salad.jpg" %}"/>
	    </div>
	
		<p>
			<span class="grey">Secret of</span>
			<span class="pink">Healthy living </span>
		</p>
		<br>
		<div style="font-family: 'Tahoma', 'Geneva', 'sans-serif'; font-size: 0.8em;">
		Secret of healthy living is Healthy eating. Many factors affect our health. Some you cannot control,
		such as your genetic makeup or your age and some you can like eating right. By taking steps towards healthy living, you can
		help reduce your risk of heart disease, cancer, stroke and other serious diseases. Healthy Eating is the basic step for
		healthy living. 
		<br><br>
		It doesn’t have any diet plans. It’s very simple and you need not keep track of calories or spend time in gym
		for workouts. Healthy eating is nothing but intuitive eating (Creating a Healthy Relationship With Food, Mind & Body).
		Healthy eating begins from healthy cooking.
		<br><br>
		Healthy cooking doesn't mean that you have to become a gourmet chef or invest in an expensive cookware. You can use basic
		cooking techniques to prepare food in healthy ways. The cooking methods described here best captures the flavor and retain the
		nutrients in foods along with keeping them fresh and healthy.<br><br>
		<div style="text-align: right;font-weight: bold">Total page views - {{total_page_views}}</div>
		</div>	
	</div>

        <div class = "bottom">
	   <div class ="bottom_block_home" style="margin-right:5%;">
           {% load static from staticfiles %}
	<a href="/recipes/all">
           <img src="{% static "img/recipes" %}" />
	   <br>
	   <center>Recipes</center>
	</a>
	   <br>

<span>Find many recipies from baking to broiling and from pastry to perfect rice cooking. Complex recipies are made simple and easy that even a kid can cook with perfection.</span>
	  </div>

	   <div class ="bottom_block_home" style="margin-right:5%;">
           {% load static from staticfiles %}
	<a href="#">
           <img src="{% static "img/health_benefits" %}" />
	   <br>
	   <center>Health benefits</center>
	</a>
	   <br>
<span>Healthy lifestyle is what all wants without compromising their favorite food. Is it possible? Yes! Its just the matter of knowing more about your food</span>
	    
	  </div>

	   <div class ="bottom_block_home">
           {% load static from staticfiles %}
	<a href="#">
           <img src="{% static "img/cooking_skills" %}" />
	   <br>
	   <center>Cooking skills</center>
	</a>
	   <br>
<span>To reach the peak of perfection in cooking follow the tips shared. Your magical touch will not only transform but also create an ambience as starred hotel food, to be craved by one & all in your fly.</span>	    
	  </div>
	</div>


</div>
{% endblock %}
