{% extends "base.html" %}
{% block title %}
<title>All recipes</title>
{% endblock %}

{% block content %}
<div class = "maincontainer">
	<div class= "contentcontainer_recipes_all">
        	<div class = "bottom_recipes_all"; style ="margin-top: 100px;">
	        	<div class ="bottomblock_recipes_all">
           		{% load static from staticfiles %}
			<a href="/recipes/baking">
           			<img src="{% static "img/recipes" %}" />
	    			<ul>
	       				<li style= "text-align: center">Baking</li>
	                        </ul>
			</a>
	  		</div>

	   		<div class ="bottomblock_recipes_all">
           		{% load static from staticfiles %}
			<a href="/recipes/quick-food">
           			<img src="{% static "img/health" %}" />
	    			<ul>
	       				<li style= "text-align: center">Quick food</li>
	    			</ul>
			</a>
	  		</div>

			<div class ="bottomblock_recipes_all">
           		{% load static from staticfiles %}
			<a href="/recipes/pastries">
           			<img src="{% static "img/cooking" %}" />
           			<ul>
	       				<li style= "text-align: center">Pastries</li>
	    			</ul>
			</a>
	  		</div>
		</div>

                <div class = "bottom_recipes_all">
	   		<div class ="bottomblock_recipes_all">
		        {% load static from staticfiles %}
			<a href="/recipes/variety-rice">
             	        	<img src="{% static "img/recipes" %}" />
	    			<ul>
			       		<li style= "text-align: center">Variety Rice</li>
		    		</ul>
			</a>
	  		</div>

	   		<div class ="bottomblock_recipes_all">
           		{% load static from staticfiles %}
			<a href="/recipes/one-pot-cooking">
           			<img src="{% static "img/health" %}" />
	   	 		<ul>
	       				<li style= "text-align: center">One pot cooking</li>
	    			</ul>
			</a>
	  		</div>
			
	   		<div class ="bottomblock_recipes_all">
           		{% load static from staticfiles %}
			<a href="/recipes/chutney">
           			<img src="{% static "img/health" %}" />
	   	 		<ul>
	       				<li style= "text-align: center">Chutney</li>
	    			</ul>
			</a>
	  		</div>
		</div>
		
                <div class = "bottom_recipes_all">
	   		<div class ="bottomblock_recipes_all">
		        {% load static from staticfiles %}
			<a href="/recipes/sides">
             	        	<img src="{% static "img/recipes" %}" />
	    			<ul>
			       		<li style= "text-align: center">Sides</li>
		    		</ul>
			</a>
	  		</div>

	   		<div class ="bottomblock_recipes_all">
           		{% load static from staticfiles %}
			<a href="/recipes/gravy">
           			<img src="{% static "img/health" %}" />
	   	 		<ul>
	       				<li style= "text-align: center">Gravy</li>
	    			</ul>
			</a>
	  		</div>
			
	   		<div class ="bottomblock_recipes_all">
           		{% load static from staticfiles %}
			<a href="/recipes/others">
           			<img src="{% static "img/health" %}" />
	   	 		<ul>
	       				<li style= "text-align: center">Others</li>
	    			</ul>
			</a>
	  		</div>
		</div>		
		
    	</div>
</div>
{% endblock %}
