{% extends "base.html" %}
{% block title %}
<title>All recipes</title>
{% endblock %}

{% block content %}
<div class = "maincontainer">
	<div class= "contentcontainer_recipes_all">
	        	<div class ="bottomblock_recipes_all">
           		{% load static from staticfiles %}
			<a href="/recipes/baking">
           			<img src="{% static "img/recipes" %}" />
				<center>Baking</center>
			</a>
	  		</div>

	   		<div class ="bottomblock_recipes_all">
           		{% load static from staticfiles %}
			<a href="/recipes/quick-food">
           			<img src="{% static "img/health" %}" />
				<center>Quick food</center>
			</a>
	  		</div>

			<div class ="bottomblock_recipes_all">
           		{% load static from staticfiles %}
			<a href="/recipes/pastries">
           			<img src="{% static "img/cooking" %}" />
				<center>Pastries</center>
			</a>
	  		</div>

	   		<div class ="bottomblock_recipes_all">
		        {% load static from staticfiles %}
			<a href="/recipes/variety-rice">
             	        	<img src="{% static "img/recipes" %}" />
				<center>Variety Rice</center>
			</a>
	  		</div>

	   		<div class ="bottomblock_recipes_all">
           		{% load static from staticfiles %}
			<a href="/recipes/one-pot-cooking">
           			<img src="{% static "img/health" %}" />
				<center>One pot cooking</center>
			</a>
	  		</div>
			
	   		<div class ="bottomblock_recipes_all">
           		{% load static from staticfiles %}
			<a href="/recipes/chutney">
           			<img src="{% static "img/health" %}" />
				<center>Chutney</center>
			</a>
	  		</div>
		
	   		<div class ="bottomblock_recipes_all">
		        {% load static from staticfiles %}
			<a href="/recipes/sides">
             	        	<img src="{% static "img/recipes" %}" />
				<center>Sides</center>
			</a>
	  		</div>

	   		<div class ="bottomblock_recipes_all">
           		{% load static from staticfiles %}
			<a href="/recipes/gravy">
           			<img src="{% static "img/health" %}" />
				<center>Gravy</center>
			</a>
	  		</div>
			
	   		<div class ="bottomblock_recipes_all">
           		{% load static from staticfiles %}
			<a href="/recipes/others">
           			<img src="{% static "img/health" %}" />
				<center>Others</center>
			</a>
	  		</div>
		
    	</div>
</div>
{% endblock %}
