{% extends "base.html" %}
{% block title %}
<title>Search recipes</title>
{% load static from staticfiles %}
<script type="text/javascript">
//base.html have the search bar. So, the below function will remove it from the current page
//once the page is loaded
function remove_searchbar()
{
    var element = document.getElementById("searchbar_top_page");
    element.parentNode.removeChild(element);
}
window.onload = remove_searchbar;
//The above function is run after the page is loaded

</script>
  
{% endblock %}

{% block content %}
<div class = "maincontainer"; style="border: thin solid black;">
    <div class="search_page">
    {% csrf_token %}

        <input type="text" id="search" name="search" placeholder="Please search here" />

        <div id ="search_results">
    
    
        </div>
    </div>
</div>
{% endblock %}