{% extends "base.html" %}
{% block title %}
<title>{{ article.title }}</title>
{% endblock %}

{% block content %}
<div class = "maincontainer"; style="border: thin solid black; float:left">
<div class = "content_block_show_recipe">	
   <br>
   <br>
   <h1> {{ article.title }} </h1>
   <br>
   {% if article.photo %}
   <img src="/static/{{article.photo}}" alt="hello"</img>
   <br><br>
   {% endif %}

   <!--All h4 tags inside content_block_show_recipe have margin-bottom property set in base.html-->   
   {% if article.note %}
   <span> {{ article.note|linebreaks }} </span>
   {% endif %}
   <br>     
   {% for key,value in ingredient.items %}
	<h4>{{ key }} </h4>
	<table>
	{% for val in value %}
		<tr>
		{% for v in val%}
  			<td>{{ v }}</td>
		{% endfor %}
		</tr>
	{% endfor %}
	</table><br>
   {% endfor %}

     <h4>Directions</h4>
     {% load my_custom_filters %}
     {% for value in direction %}
	  {% if '<h>' in value %}
	  <h4>{{ value |extract_from_h_tag}}</h4>
	  {% else %}
            <span> {{ value |linebreaks }} </span>
	  {% endif %}
     {% endfor %}	
   
   
   <br>
   
   {% if article.tips %}
   <h4> Tips </h4>
   <span>{{ article.tips|linebreaks }} </span>
   {% endif %}

   <br>
      <div class = "navmenu">
        <ul>
	 <li><a style="width:100px;" href="/recipes/{{article.recipe_type}}/{{article.title.split|join:"-"}}/like/">Like </a> </li>
        </ul>
      </div>
      
      <div style="padding-top:5px; font-size: 17px;">
   	  +{{article.likes}}
      </div>
	
      <div style="text-align:right">
          <span class = "posted_show_recipe"> Posted by Surekha on {{article.pub_date }} </span>
      </div>
      <br>

<form action="/recipes/comments/" method="post"> {% csrf_token %}
	<textarea name="name" cols="40" rows="1" placeholder="Enter your name"></textarea>
	<br>
	<textarea name="comment" cols="40" rows="10" placeholder="Enter your comment"></textarea>
	<input type="hidden" name = "recipe_type" value= {{article.recipe_type}}>
	<input type="hidden" name = "recipe_title" value= {{recipe_title_url_format}}>
	<input type="hidden" name = "recipe_id" value= "{{article.id}}">
	<input type="submit" value="submit" />

</form>
	  
     <div style="width:400px;">
      {% if comments|length = 0 %}
      <span style="font-weight:bold">No comments </span> <br><br>
      {% else %}
      <span style="font-weight:bold">{{comments|length}} comments</span><br><br>
      {% for comment in comments %}
	     <div style="background-color:#DEDEDE;height:30px;"> 
	       <span style="font-weight:bold;line-height: 30px; padding-left: 5px;font-size: 14px;">{{comment.name }}</span>
	       <span style="float: right; line-height: 30px; padding-right:5px;font-size: 12px;">{{comment.date }}</span>
	     </div>
          <span>{{comment.comment}}</span>
	    <br>
	    <br>
	  <!-- using the unique ids for making javascript to create div elements properly -->
	  <div style="float:right">
	       <input type = "button" class= "reply_button" name = {{comment.id|concatenate_two_strings_firstdiv }} value ="Reply" onclick = you_hovered(this.name,{{comment.id}},"{{article.recipe_type}}","{{recipe_title_url_format}}","{{comment.name}}") </input>
	  </div>
	  <div id={{comment.id|concatenate_two_strings_firstdiv}}> </div>
          <br> 
	  {% for key,value in comment_reply_dictionary.items%}
	       {%for id,date,comment_val,unique_id,name in value%}
		    {% if id == comment.id%}
			 <div style="margin-left: 50px;">
			 <br>
		      
		         <div style="background-color:#DEDEDE;height:30px;"> 
			      <span style="font-weight:bold;line-height: 35px; padding-left: 5px;font-size:14px;">{{ name }}</span>
	                      <span style="float: right; line-height: 35px; padding-right:5px; font-size: 12px;">{{date }}</span>
	                 </div>     
    
	       		 <span>{{comment_val}}</span>
			 <br><br>
			 <div style="float:right">		 
			      <input type = "button" class= "reply_button" name = {{unique_id|concatenate_two_strings_seconddiv}} value ="Reply" onclick = you_hovered(this.name,{{comment.id}},"{{article.recipe_type}}","{{recipe_title_url_format}}","{{name}}") </input>
			 </div>
			 <br>			 
			 <div id={{unique_id|concatenate_two_strings_seconddiv}}> </div>
			 <br>
			 </div>
		    {% endif %}
	       {% endfor %}
	  {% endfor %}	  
      {% endfor %}
      {% endif %}
     </div>
     
</div>
<!--All <a> tags have font-weight:bold.. check base.html -->
   <div class ="navigation_did_you_know_show_recipe">
   <ul style="line-height:31px; width:250px;">
   <li class = "radial_gradient" style ="width:250px;">		
   <a style="color: #FE2E9A;font-size: 16px;text-decoration:none;" href="#">
	Did you know?
   </a>
   </li>

   <span style="color: #FE2E9A;font-size: 16px;">{{ article.did_you_know }}</span>

   </ul>
   </div>

   <div class = "navigation_show_recipe">
   <ul style="line-height:25px; width:250px;display: block;">
   <li class = "radial_gradient" style ="width:250px;display: inline-block">		
   <a style="color: #FE2E9A;font-size: 16px;text-decoration:none;display: block;" href="#">
	Latest recipes
   </a>
   </li>

   {% for recipe in latest_recipes_nine %}
	  <li style= "width:250px;list-style:none;float:left; border-bottom: thin dotted black;display: inline-block"> 
           <a style="color: #FE2E9A;display: block;font-weight: normal;font-size: 16px" href="/recipes/{{ recipe.recipe_type }}/{{ recipe.title.split|join:"-" }}/"> 
	   {{recipe.title}}
           </a> 
           </li>
   {% endfor %}
   {% for recipe in latest_recipe_tenth %}
           <li style= "width:250px;list-style:none;float:left;display: inline-block"> 
           <a style="color: #FE2E9A;display: block;font-weight: normal;font-size: 16px" href="/recipes/{{ recipe.recipe_type }}/{{ recipe.title.split|join:"-" }}/"> 
	   {{recipe.title}}
           </a> 
           </li>
   {% endfor %}   


   <li class = "radial_gradient" style ="width:250px;display: inline-block">		
    <a style="text-align:center; color: #FE2E9A;font-size: 16px;text-decoration:none;display: block;" href="#">
	Popular recipes
    </a>
    </li>
    {% for recipe in popular_recipes_nine %}
         <li style= "width:250px;list-style:none;float:left;border-bottom: thin dotted black;display: inline-block"> 
         <a style="color: #FE2E9A;display: block;font-weight: normal;font-size: 16px" href="/recipes/{{ recipe.recipe_type }}/{{ recipe.title.split|join:"-" }}/"> 
	       {{recipe.title}} 
         </a>
         </li>
    {% endfor %}
    
     {% for recipe in popular_recipe_tenth %}
           <li style= "width:250px;list-style:none;float:left;display: inline-block"> 
           <a style="color: #FE2E9A;display: block;font-weight: normal;font-size: 16px" href="/recipes/{{ recipe.recipe_type }}/{{ recipe.title.split|join:"-" }}/"> 
	   {{recipe.title}}
           </a> 
           </li>
     {% endfor %} 
    
    </ul>
    </div>

</div>
{% endblock %}
